.wrapper {
  position: fixed;
}

.dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titlebar {
  flex-grow: 0;
  user-select: none;
  cursor: default;
}

.content {
  flex-grow: 1;
  overflow: auto;
}
