@import 'src/theme.scss';

.fade {
  &-enter {
    opacity: 0;
    // transform: translate(0, -100%);
    transform: translate(32px, 0);
  }

  &-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 0.2s, transform 0.2s;
  }

  &-exit {
    opacity: 1;
    transform: translate(0, 0);
  }

  &-exit-active {
    opacity: 0;
    // transform: translate(0, -100%);
    transform: translate(32px, 0);
    transition: opacity 0.2s, transform 0.2s;
  }
}

.corner {
  position: absolute;
  top: 0;
  right: 0;

  .button {
    @include reset;
    // background-color: transparent;
    border-radius: 0 0 0 8px;
    margin: 0;
    padding: 8px 6px 8px 10px;
  }

  display: flex;

  .button.active {
    @include active;
  }
}