@import 'src/theme.scss';

.panels {
  .corner {
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu {
    @include reset;
    border-radius: 0 0 0 8px;
  }

  .closeButton {
    @include reset;
  }

  .panel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    border-radius: 0 0 0 16px;
    @include background;
  }

  .active {
    @include active;
  }
}

.fade {
  &-enter {
    opacity: 0;
    transform: translate(0, 8px);
  }

  &-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 0.2s, transform 0.2s;
  }

  &-exit {
    opacity: 1;
    transform: translate(0, 0);
  }

  &-exit-active {
    opacity: 0;
    transform: translate(0, 8px);
    transition: opacity 0.2s, transform 0.2s;
  }
}