@import 'src/theme.scss';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.panel {
  @include background;
  padding: 16px;
  border-radius: 0 0 0 16px;
  flex-grow: 1;
  overflow-y: auto;
}

.bottomMenu {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.fade {
  &-enter {
    opacity: 0;
    // transform: translate(0, -100%);
    transform: translate(0, -16px);
  }

  &-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 0.2s, transform 0.2s;
  }

  &-exit {
    opacity: 1;
    transform: translate(0, 0);
  }

  &-exit-active {
    opacity: 0;
    // transform: translate(0, -100%);
    transform: translate(0, -16px);
    transition: opacity 0.2s, transform 0.2s;
  }
}