.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 0.1s;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#333, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.prompt {
  color: white;
  background-color: rgba(#333, 0.95);
  $padding: 16px;
  padding: $padding;
  border-radius: $padding;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px rgba(white, 0.25);
  z-index: 2;

  &>* {
    margin: 0.5em 0;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: normal;
      padding: 4px 8px !important;
    }
  }

  input[type="text"] {
    width: 400px;
    max-width: 70vw;
  }
}

.message {
  white-space: pre-wrap;
}