@import 'src/theme.scss';

.lineInfo {
  @include background;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  border-radius: 4px;
  cursor: default;
  user-select: none;
  white-space: nowrap;

  &:hover {
    @include active;
  }
}

.regionTr {
  td {
    text-align: center;

    button {
      margin: 0 2px;
      padding: 2px 4px;
    }
  }
}