@import 'src/theme.scss';

.main {
  background-color: black;
  font-family: sans-serif;

  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;

  // box-sizing: border-box;
  // border: 15px solid #003;

  button,
  select {
    @include hoverable;
    padding: 4px 8px;
    margin: 4px;
    border: 0 none black;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(white, 0.5);
  }

  input {

    &[type="text"],
    &[type="search"] {
      background-color: transparent;
      border: 0;
      box-shadow: 0 0 2px rgba(white, 0.5);
      border-radius: 2px;
      margin: 1px;
      color: white;

      &::placeholder {
        color: #777
      }
    }
  }

  input,
  button,
  textarea,
  select {
    &:focus {
      outline: 4px solid rgba(cyan, 0.25);
    }
  }

  a {
    color: #0aa;
  }

  hr {
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #555;
  }

  :global {
    // Original: https://github.com/szhsin/react-menu/blob/master/dist/theme-dark.css

    .szh-menu-container--theme-dark .szh-menu {
      color: #cad1d8;
      background-color: rgba(#222, 0.95);
      border: 1px solid #333;
      // box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 8px rgba(#222, 1), 0 0 4px rgba(#037, 1);
    }

    .szh-menu-container--theme-dark .szh-menu__arrow {
      background-color: #22262c;
      border-left-color: #333;
      border-top-color: #333;
    }

    .szh-menu-container--theme-dark .szh-menu__item--hover {
      background-color: rgba(#357, 0.25);
    }

    .szh-menu-container--theme-dark .szh-menu__item--focusable {
      background-color: inherit;
    }

    .szh-menu-container--theme-dark .szh-menu__item--disabled {
      color: #666;
    }

    .szh-menu-container--theme-dark .szh-menu__divider {
      background-color: #3a3a3a;
    }
  }

}